* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body#body {
  background-color: black;
}

body header nav#nav li a {
  text-transform: uppercase;
  color: white;
}
body header nav#nav li a:hover {
  color: gray;
}
h1.title {
  color: white;
  text-align: center;
}

section.content {
  display: flex;
  justify-content: center;
}

section.content div.top-content div,
section.content div.bottom-content div {
  background-color: white;
}

section#secao1 div img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

/*Abas*/
.content-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  background: rgb(0, 0, 0);
  margin: 1rem auto;
}

.abas {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  width: 25rem;
  margin: 0px auto;
}

.tab1,
.tab2,
.tab3 {
  display: block;
  text-decoration: none;
  height: 2.5rem;
  width: 10rem;
  line-height: 2.5rem;
  margin-right: 1px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0 0;
  color: rgb(66, 66, 66);
}

.content-tabs a:hover {
  background-color: rgb(88, 99, 107);
  transition: all 500ms ease-out;
}

.actived {
  background-color: rgb(82, 169, 228);
}

.page-content {
  width: 40rem;
  height: 20rem;
  margin: 0 auto;
  margin-top: 10px;
}

.content-tab iframe {
  width: 100%;
  height: 20rem;
}
@media (max-width: 576px) {
  section.content {
    flex-direction: column;
  }
  section#secao1 {
    padding: 1.5rem;
  }
  section.content div.top-content,
  section.content div.bottom-content {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-around;
  }
  section#secao1 div.img {
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px white;
    width: 8rem;
    height: 10rem;
  }

  /*Carousel*/
  main section#carousel div#carouselExample div.carousel-inner img {
    height: 22rem;
  }
  main section#carousel div#carouselExample div.carousel-inner h3,
  main section#carousel div#carouselExample div.carousel-inner p {
    color: rgba(196, 193, 193, 0.418);
  }

  /*Tabs*/
  .content-tabs {
    width: 20rem;
  }
  .abas {
    width: 18rem;
  }

  .tab1,
  .tab2,
  .tab3 {
    width: 6rem;
  }

  .page-content {
    width: 18rem;
  }
}

@media (min-width: 578px) {
  section.content {
    flex-wrap: wrap;
  }
  section#secao1 {
    padding: 0.5rem;
  }

  section.content div.top-content,
  section.content div.bottom-content {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-between;
  }
  section#secao1 div.top-content div.img,
  section#secao1 div.bottom-content div.img {
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px white;
    height: 23rem;
  }

  section.content div.bottom-content #img3,
  section.content div.bottom-content #img4 {
    width: 14rem;
  }

  /*Carousel*/
  main section#carousel div#carouselExample div.carousel-inner img {
    height: 22rem;
  }

  main section#carousel div#carouselExample div.carousel-inner h3 {
    color: rgba(196, 193, 193, 0.418);
    font-size: 2rem;
  }

  main section#carousel div#carouselExample div.carousel-inner p {
    color: rgba(196, 193, 193, 0.418);
    font-size: 1.3rem;
  }
  /*Tabs*/
  .content-tabs {
    width: 30rem;
  }
  .abas {
    width: 24rem;
  }

  .tab1,
  .tab2,
  .tab3 {
    width: 8rem;
  }

  .page-content {
    width: 30rem;
  }
}

@media (min-width: 767px) {
  section.content div.top-content,
  section.content div.bottom-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  section#secao1 div.top-content div.img,
  section#secao1 div.bottom-content div.img {
    width: 19rem;
    height: 19rem;
  }

  section.content div.bottom-content #img3,
  section.content div.bottom-content #img4 {
    width: 19rem;
  }

  /*Carousel*/
  main section#carousel div#carouselExample div.carousel-inner h3 {
    color: rgba(196, 193, 193, 0.418);
    font-size: 2.4rem;
  }

  main section#carousel div#carouselExample div.carousel-inner p {
    color: rgba(196, 193, 193, 0.418);
    font-size: 1.4rem;
  }

  /*Tabs*/
  .content-tabs {
    width: 40rem;
  }
  .abas {
    width: 30rem;
  }

  .tab1,
  .tab2,
  .tab3 {
    width: 10rem;
  }

  .page-content {
    width: 40rem;
  }
}

@media (min-width: 1024px) {
  section#secao1 div.top-content div.img,
  section#secao1 div.bottom-content div.img {
    width: 25rem;
    height: 28rem;
  }

  section.content div.bottom-content #img3,
  section.content div.bottom-content #img4 {
    width: 25rem;
    height: 28rem;
  }

  /*Carousel*/
  main section#carousel div#carouselExample div.carousel-inner img {
    height: 70vh;
  }
}

/*footer*/
footer {
  height: 5rem;
  color: white;
  font-size: 2rem;
}

footer div a {
  color: white;
}
/*Marca página*/
.actived {
  background-color: rgb(147, 210, 252);
}
