* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body#body {
  background: #000000;
  color: white;
  height: 100vh;
}

h1.title {
  font-size: 2rem;
  margin: 2rem 0;
}

body header nav#nav li a {
  text-transform: uppercase;
  color: white;
}
body header nav#nav li a:hover {
  color: gray;
}

/*Cards*/

section#cards,
section#cards2 {
  text-align: center;
  color: white;
}

div#container section#cards h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

div#container section#cards div#cards-superior .card {
  box-shadow: 4px 5px 4px gray;
  border-radius: 0.7rem;
  width: 12rem;
  height: 13rem;
  margin-left: 1rem;
}

div#container section#cards div#cards-superior .card a.comprar {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  color: white;
  margin: 0 auto;
  margin-top: 210px;
  width: 100px;
}

div#container section#cards div#cards-superior .card a.comprar:hover,
div#container section#cards2 div#cards-inferior .card a.comprar:hover {
  border: 1px solid white;
  border-radius: 10px;
  transition: border 0.4s;
}

div#container section#cards div#cards-superior #card1 {
  background-image: url(../img/outlaws.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

div#container section#cards div#cards-superior #card2 {
  background-image: url(../img/hunters.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

div#container section#cards div#cards-superior #card3 {
  background-image: url(../img/survivor.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

div#container section#cards div#cards-superior #card4 {
  background-image: url(../img/lego.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*Inferior*/

div#container section#cards2 div#cards-inferior .card {
  box-shadow: 4px 5px 4px gray;
  border-radius: 0.7rem;
  width: 12rem;
  height: 13rem;
  margin-left: 1rem;
}

div#container section#cards2 div#cards-inferior #card5 {
  background-image: url(../img/oficial.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div#container section#cards2 div#cards-inferior #card6 {
  background-image: url(../img/cards.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div#container section#cards2 div#cards-inferior #card7 {
  background-image: url(../img/depot.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div#container section#cards2 div#cards-inferior .card a.comprar {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
  margin: 0 auto;
  margin-top: 310px;
  width: 100px;
}
/*Medias*/
@media (max-width: 576px) {
  div#container section#cards div#cards-superior .card,
  div#container section#cards2 div#cards-inferior .card {
    width: 8rem;
    height: 10rem;
    margin-left: 1.5rem;
    margin-bottom: 3rem;
  }
  div#container section#cards div#cards-superior .card a.comprar,
  div#container section#cards2 div#cards-inferior .card a.comprar {
    margin-top: 10.5rem;
  }
}

@media (min-width: 577px) {
  div#container section#cards div#cards-superior .card,
  div#container section#cards2 div#cards-inferior .card {
    width: 12rem;
    height: 13rem;
    margin-left: 1.5rem;
    margin-bottom: 3rem;
  }
  div#container section#cards div#cards-superior .card a.comprar,
  div#container section#cards2 div#cards-inferior .card a.comprar {
    margin-top: 13.5rem;
  }
}

@media (min-width: 768px) {
  div#container section#cards div#cards-superior .card,
  div#container section#cards2 div#cards-inferior .card {
    width: 15rem;
    height: 18rem;
    margin-left: 1.5rem;
    margin-bottom: 3rem;
  }
  div#container section#cards div#cards-superior .card a.comprar,
  div#container section#cards2 div#cards-inferior .card a.comprar {
    margin-top: 18.5rem;
  }
}

@media (min-width: 1024px) {
  div#container section#cards div#cards-superior .card {
    width: 13rem;
    height: 15rem;
  }
  div#container section#cards div#cards-superior .card a.comprar {
    margin-top: 15.5rem;
  }

  div#container section#cards2 div#cards-inferior .card {
    width: 18rem;
    height: 20rem;
  }
  div#container section#cards2 div#cards-inferior .card a.comprar {
    margin-top: 20.5rem;
  }
}
/*Rodapé*/

/*footer*/
footer {
  height: 5rem;
  color: white;
  font-size: 2rem;
}

footer div a {
  color: white;
}

/*Marcador*/
#cabecalho nav ul li#nav-item a#marcador {
  color: white;
}
